h1 {
    font-size: 360%;
    font-family: Brush Script MT;
    color: rgb(167, 23, 52);
}
h2 {
    font-size: 200%;
    font-family: Brush Script MT;
    color: crimson;
}
body {
    background-color: lightsteelblue;
}