h1 {
    font-size: 360%;
    /* font-family: Brush Script MT; */
    font-family: Impact;
    /* color: rgb(167, 23, 52); */
    color: whitesmoke;
}
h2 {
    font-size: 200%;
    font-family: Impact;
    color: whitesmoke
}
body {
   /* background-color: darkslategrey; */
   background-color: rgba(102, 8, 8, 0.842);
    color: whitesmoke;
}