* {
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.h1 {
    font-size: 360%;
    font-family: Impact;
    color: black;
}
.h2 {

    font-size: 150%;
    font-family: Impact;
    color: black;
}
.h3 {
    font-size: 150%;
    font-family: Impact;
    color: black;
}
.body {
    color:white;
    margin: 0;
    min-width: 250px;
}
select>option[value="month"] {
    display:none;
}

select>option[value="year"] {
    display:none;
}

#selectMonth {
    padding: 0.3rem;
    border: 2px solid palevioletred;
    display: inline-block;
    margin-right: 20px;
}

#selectDay {
    padding: 0.3rem;
    border: 2px solid palevioletred;
    display: inline-block;
    margin-right: 20px;
}

#selectYear {
    padding: 0.3rem;
    border: 2px solid palevioletred;
}

#selectTime {
    padding: 0.3rem;
    border: 2px solid palevioletred;
    text-align: center;
}

#selectEndTime {
    padding: 0.3rem;
    border: 2px solid palevioletred;
    text-align: center;
}

#myDIV {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.inputBox {
    /*border:blue;*/
    /*padding: 10px;*/
    padding: 0.3rem;
    border: 2px solid palevioletred;
    float: left;
    font-size: 16px;
    width: 75%;
}

.addBtn {
    color: #555;

    /*padding: 10px;*/
    padding: 0.3rem;

    width: 25%;
    float: left;
  
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

#listDIV {
    margin: 0;
    padding: 0;
     position: relative;
     cursor: pointer;
     padding: 12px 16px 12px 16px;
     list-style-type: none;
     font-size: 18px;
     font-family: Helvetica;
     /*transition: 0.2s;*/
    
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

#myUL {
    margin: 0;
    padding: 0;
     position: relative;
     cursor: pointer;
     padding: 12px 16px 12px 16px;
     list-style-type: none;
     font-size: 18px;
     font-family: Helvetica;
     transition: 0.2s;
    
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }    

#myUL li:nth-child(odd) {
     background:lightpink;
 } 

#myUL li:nth-child(even) {
     background: lightgrey;
 }

#myUL li:hover {
     background:grey;
 }

.close {
    /*display: block;*/
    position: absolute;
    right: 0;
    /*top: 0;*/
    /*close does not show up with top: 0 and/or bottom: 0 */
    /*top right botom left*/
    padding: 12px 16px 12px 16px;
}

#myUL li.checked {
     color: pink;
     text-decoration: line-through;
     background: brown;
 }

#myUL li.checked::before {
     content: '';
     position: absolute;
     border-style: solid;
     border-width: 0 2px 2px 0;
     border-color:pink;
     top: 10px;
     left: 16px;
     transform: rotate(45deg);
     height: 15px;
     width: 7px;
 }


 
 

 

 