.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1{
  font-size: 50px;
}

.Link {
  color: pink;
  padding-right: 30px;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  padding-bottom: 3px;
}

.CalLink {
  /*padding: 0px;*/
  color: pink;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  padding-bottom: 3px;
}

/*li {
  list-style-type: none;
  padding-bottom: 3px;
}*/

/*ul li { 
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  line-height: 80%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
