body {
	margin-top: 8px;
	margin-bottom: 50px;
	background: none;
}

#Maincalendar {
  display: inline-block;
  margin-top: 10px;
}

.full {
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-danger {
  color: red;
}
.panel-success {
  color:green;
}
